<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddisearch.mapper.DDIMapper">

    <insert id="batchInsertAllDDI" parameterType="java.util.List">
        INSERT INTO cjk.all_ddi_info (drugA_name, drugB_name, ddi_type, description, confidence)
        VALUES
        <foreach collection="list" item="ddi" separator=",">
            (#{ddi.drugAName}, #{ddi.drugBName}, #{ddi.ddiType}, #{ddi.description}, #{ddi.confidence})
        </foreach>
    </insert>

    <insert id="batchInsertDDI" parameterType="java.util.List">
        INSERT INTO cjk.ddi_info (drugA_name, drugB_name, ddi_type, description, confidence)
        VALUES
        <foreach collection="list" item="ddi" separator=",">
            (#{ddi.drugAName}, #{ddi.drugBName}, #{ddi.ddiType}, #{ddi.description}, #{ddi.confidence})
        </foreach>
    </insert>

    <select id="selectDDIByName" parameterType="map" resultType="com.ddisearch.entity.DDI">
        SELECT DISTINCT drugA_name, drugB_name, ddi_type, description, confidence FROM cjk.all_ddi_info WHERE drugA_name = #{drugAName} AND drugB_name = #{drugBName}
    </select>

    <select id="batchSelectDDI" parameterType="map" resultType="com.ddisearch.entity.batchDDIResult">
        SELECT DISTINCT drugA_name AS drugAName, drugB_name AS drugBName, description AS ddiDescription
        FROM cjk.all_ddi_info
        WHERE (SUBSTR(drugA_name, 1, 1) BETWEEN 'A' AND 'Z' OR SUBSTR(drugA_name, 1, 1) BETWEEN 'a' AND 'z')
          AND (SUBSTR(drugB_name, 1, 1) BETWEEN 'A' AND 'Z' OR SUBSTR(drugB_name, 1, 1) BETWEEN 'a' AND 'z')
        ORDER BY drugA_name, drugB_name
        LIMIT #{limit} OFFSET #{offset};
    </select>

    <select id="batchSelectAllDDI" resultType="com.ddisearch.entity.batchDDIResult">
        SELECT DISTINCT drugA_name AS drugAName, drugB_name AS drugBName, description AS ddiDescription FROM cjk.all_ddi_info
    </select>

</mapper>
