<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddisearch.mapper.DDIMapper">

    <insert id="batchInsertDDI" parameterType="java.util.List">
        INSERT INTO cjk.ddi_info (drugA_name, drugB_name, ddi_type, description, confidence)
        VALUES
        <foreach collection="list" item="ddi" separator=",">
            (#{ddi.drugAName}, #{ddi.drugBName}, #{ddi.ddiType}, #{ddi.description}, #{ddi.confidence})
        </foreach>
    </insert>

    <!-- 查询语句 -->
    <select id="selectDDIByName" parameterType="map" resultType="com.ddisearch.entity.DDI">
        SELECT DISTINCT drugA_name, drugB_name, ddi_type, description, confidence FROM cjk.ddi_info WHERE drugA_name = #{drugAName} AND drugB_name = #{drugBName}
    </select>

<!--    <select id="selectDrugInfoByName" parameterType="String" resultType="com.ddisearch.entity.Drug">-->
<!--        SELECT * FROM test1_drugs WHERE name = #{name}-->
<!--    </select>-->

</mapper>
