<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddisearch.mapper.DDIMapper">

    <insert id="batchInsertAllDDI" parameterType="java.util.List">
        INSERT INTO cjk.all_ddi_info (drugA_name, drugB_name, ddi_type, description, confidence)
        VALUES
        <foreach collection="list" item="ddi" separator=",">
            (#{ddi.drugAName}, #{ddi.drugBName}, #{ddi.ddiType}, #{ddi.description}, #{ddi.confidence})
        </foreach>
    </insert>

    <insert id="batchInsertDDI" parameterType="java.util.List">
        INSERT INTO cjk.ddi_info (drugA_name, drugB_name, ddi_type, description, confidence)
        VALUES
        <foreach collection="list" item="ddi" separator=",">
            (#{ddi.drugAName}, #{ddi.drugBName}, #{ddi.ddiType}, #{ddi.description}, #{ddi.confidence})
        </foreach>
    </insert>

    <select id="selectDDIByName" parameterType="map" resultType="com.ddisearch.entity.DDI">
        SELECT DISTINCT drugA_name, drugB_name, ddi_type, description, confidence
        FROM cjk.all_ddi_info_demo
        WHERE drugA_name = #{drugAName}
          AND drugB_name = #{drugBName}
    </select>

    <select id="batchSelectDDI" parameterType="map" resultType="com.ddisearch.entity.batchDDIResult">
        SELECT DISTINCT ai.drugA_name AS drugAName, ai.drugB_name AS drugBName, ai.description AS ddiDescription
        FROM cjk.all_ddi_info_demo ai
                 # 之所以要嵌套一个子查询，是因为这样可以利用主键索引，先查id，然后再在外层查询返回对应的记录
                 INNER JOIN (SELECT id
                             FROM cjk.all_ddi_info_demo
                             LIMIT #{limit} OFFSET #{offset}) sub ON ai.id = sub.id
        ORDER BY ai.drugA_name, ai.drugB_name;
    </select>


    <select id="batchSelectAllDDI" resultType="com.ddisearch.entity.batchDDIResult">
        SELECT DISTINCT drugA_name AS drugAName, drugB_name AS drugBName, description AS ddiDescription
        FROM cjk.all_ddi_info_demo
    </select>

</mapper>
