<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddisearch.mapper.DrugInfoMapper">

    <insert id="batchInsertDrugInfo" parameterType="java.util.List">
        INSERT INTO test1_drugs (order_id, drugbank_id, name, category, chemical_formula, smiles, description, related_drugs)
        VALUES
        <foreach collection="list" item="drug" separator=",">
            (#{drug.orderId}, #{drug.drugbankId}, #{drug.name}, #{drug.category}, #{drug.chemicalFormula}, #{drug.smiles}, #{drug.description}, #{drug.relatedDrugs})
        </foreach>
    </insert>

    <select id="selectDrugInfoByName" parameterType="String" resultType="com.ddisearch.entity.Drug">
        SELECT order_id, drugbank_id, name, category, chemical_formula, smiles, description, related_drugs FROM test1_drugs WHERE name = #{name}
    </select>

</mapper>
